<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itwillbs.factron.mapper.process.ProcessMapper">

    <!-- 공정 목록 조회 -->
    <select id="selectProcessList" parameterType="com.itwillbs.factron.dto.process.RequestProcessInfoDTO" resultType="com.itwillbs.factron.dto.process.ResponseProcessInfoDTO">
        SELECT
            p.id AS processId,
            p.name AS processName,
            p.type_code AS processTypeCode,
            dsc.name AS processTypeName,
            p.description,
            p.line_id AS lineId,
            l.name AS lineName,
            p.standard_time AS standardTime,
            p.has_machine AS hasMachine,
            TO_CHAR(p.created_at, 'YYYY-MM-DD') AS createdAt,
            p.created_by AS createdBy
        FROM process p
        LEFT JOIN detail_sys_code dsc
            ON dsc.detail_code = p.type_code
            AND dsc.main_code = 'PTP'
        LEFT JOIN line l
            ON p.line_id = l.id
        <where>
            <if test="processIdOrName != null and processIdOrName != ''">
                AND (
                    TO_CHAR(p.id) = #{processIdOrName}
                    OR LOWER(p.name) LIKE '%' || LOWER(#{processIdOrName}) || '%'
                )
            </if>
            <if test="processTypeCode != null and processTypeCode != ''">
                AND p.type_code = #{processTypeCode}
            </if>
            <if test="hasMachine != null and hasMachine != ''">
                AND p.has_machine = #{hasMachine}
            </if>
            <if test="lineConnected != null">
                <choose>
                    <when test="lineConnected == true">
                        AND p.line_id IS NOT NULL
                    </when>
                    <otherwise>
                        AND p.line_id IS NULL
                    </otherwise>
                </choose>
            </if>
            <if test="lineId != null">
                AND p.line_id = #{lineId}
            </if>
        </where>
        ORDER BY p.id DESC
    </select>

</mapper>
