<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.factron.mapper.material.MaterialMapper">

    <select id="getMaterialList"
            parameterType="com.itwillbs.factron.dto.material.MaterialRequestDTO"
            resultType="com.itwillbs.factron.dto.material.MaterialResponseDTO">
        SELECT
            id AS materialId,
            name,
            unit,
            info,
            spec,
            created_at AS createdAt,
            created_by AS createdBy
        FROM material

        <where>
            <if test="materialName != null and materialName != ''">
                AND name LIKE '%' || #{materialName} || '%'
            </if>
            <if test="materialStartDate != null and materialStartDate != ''">
                AND created_at &gt;= TO_DATE(#{materialStartDate}, 'YYYY-MM-DD')
            </if>
            <if test="materialEndDate != null and materialEndDate != ''">
                AND created_at &lt; TO_DATE(#{materialEndDate}, 'YYYY-MM-DD') + 1
            </if>
        </where>
        ORDER BY created_at DESC
    </select>

</mapper>