<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/base.html}">
<head>
    <link rel="stylesheet" href="https://uicdn.toast.com/chart/latest/toastui-chart.min.css" />
    <script src="https://uicdn.toast.com/chart/latest/toastui-chart.min.js"></script>
    <title>Factron</title>
</head>
<body>
<div layout:fragment="content">
    <section>
        <div class="header-row">
            <h4 class="page__name">라인 목록</h4>
        </div>

        <!-- line list grid -->
        <article>
            <div id="line_grid">

            </div>
        </article>

        <div class="mt-4">
            <div class="header-row">
                <h5 class="page__name">라인 상세 공정</h5>
            </div>
        </div>

        <!-- line process list grid -->
        <article>
            <div id="line_process_grid">
            </div>
        </article>


        <div class="mt-4">
            <div class="header-row">
                <h5 class="page__name chart_title">공정별 수율 통계</h5>
            </div>
        </div>

        <!-- statistics chart-->
        <article>
            <div id="processHistoryGrid">
            </div>
        </article>



    </section>
</div>

<th:block layout:fragment="javascript">
    <!-- js import -->
    <script th:src="@{/js/process/processHistoryStatistics.js}"></script>
</th:block>
</body>
</html>