<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="eng">
<body>
<div class="icon__container" th:switch="${type}" th:fragment="icon(type)">

    <svg th:case="hamberger" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
        <!-- 햄버거 아이콘 -->
        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
    </svg>

    <svg th:case="arrow_down" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
        <!-- 아래 화살표 아이콘 -->
        <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"/>
    </svg>

    <svg th:case="person_manager" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#606E9C" class="bi bi-person-fill" viewBox="0 0 16 16">
        <!-- 인간(관리자) 아이콘 -->
        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
    </svg>


    <svg th:case="person" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#606E9C" class="bi bi-person-fill" viewBox="0 0 16 16">
        <!-- 인간 아이콘 -->
        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
    </svg>
</div>
</body>
</html>