<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itwillbs.factron.mapper.production.WorkerMapper">

    <!-- 작업자 목록 조회 -->
    <select id="getWorkerList" parameterType="java.lang.Long" resultType="com.itwillbs.factron.dto.production.ResponseWorkerDTO">
        SELECT
            w.id,
            w.work_order_id,
            w.employee_id,
            e.name AS employee_name,
            s1.name AS dept_name,
            s2.name AS pos_name
        FROM WORKER w
        JOIN EMPLOYEE e ON w.employee_id = e.id
        JOIN DETAIL_SYS_CODE s1 ON e.dept_code = s1.detail_code
        JOIN DETAIL_SYS_CODE s2 ON e.position_code = s2.detail_code
        WHERE w.work_order_id = #{orderId}
        ORDER BY w.id DESC
    </select>

</mapper>