<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.factron.mapper.item.ItemMapper">

    <select id="getItemList"
            parameterType="com.itwillbs.factron.dto.item.RequestitemDTO"
            resultType="com.itwillbs.factron.dto.item.ResponseItemDTO">
        SELECT
        id AS itemId,
        name,
        unit,
        price,
        type_code AS typeCode,
        created_at AS createdAt,
        created_by AS createdBy
        FROM item
        <where>
            <if test="itemName != null and itemName != ''">
                AND name LIKE '%' || #{itemName} || '%'
            </if>
            <if test="itemTypeCode != null and itemTypeCode != ''">
                AND type_code = #{itemTypeCode}
            </if>
        </where>
        ORDER BY created_at DESC
    </select>


</mapper>
