<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.factron.mapper.vacation.VacationMapper">

    <select id="getVacations"
            parameterType="com.itwillbs.factron.dto.vacation.VacationRequestDTO"
            resultType="com.itwillbs.factron.dto.vacation.VacationResponseDTO">
        SELECT
        e.id AS empId,
        e.name AS empName,
        e.position_code AS positionCode,
        pos.name AS positionName,
        e.dept_code AS deptCode,
        dept.name AS deptName,
        TO_CHAR(vh.start_date, 'YYYY-MM-DD') AS vacationStartDate,
        TO_CHAR(vh.end_date, 'YYYY-MM-DD') AS vacationEndDate,
        vh.remark
        FROM
        vacation_history vh
        JOIN employee e ON vh.employee_id = e.id
        JOIN approval a ON vh.approval_id = a.id
        LEFT JOIN detail_sys_code pos ON e.position_code = pos.detail_code AND pos.main_code = 'POS'
        LEFT JOIN detail_sys_code dept ON e.dept_code = dept.detail_code AND dept.main_code = 'DEP'
        <where>
            <choose>
                <when test="srhApprovalId != null and srhApprovalId != ''">
                    AND a.id = #{srhApprovalId}
                </when>
                <otherwise>
                    AND a.approval_status_code = 'APV002' <!-- 미승인 상태 -->
                </otherwise>
            </choose>
            <if test="srhIdOrName != null and srhIdOrName != ''">
                AND (e.name LIKE '%' || #{srhIdOrName} || '%'
                OR e.id LIKE '%' || #{srhIdOrName} || '%')
            </if>
            <if test="vacationStartDate != null and vacationStartDate != '' and vacationEndDate != null and vacationEndDate != ''">
                AND (
                (vh.start_date BETWEEN TO_DATE(#{vacationStartDate}, 'YYYY-MM-DD') AND TO_DATE(#{vacationEndDate},
                'YYYY-MM-DD'))
                OR
                (vh.end_date BETWEEN TO_DATE(#{vacationStartDate}, 'YYYY-MM-DD') AND TO_DATE(#{vacationEndDate},
                'YYYY-MM-DD'))
                OR
                (vh.start_date &lt;= TO_DATE(#{vacationStartDate}, 'YYYY-MM-DD') AND vh.end_date &gt;=
                TO_DATE(#{vacationEndDate}, 'YYYY-MM-DD'))
                )
            </if>
            <if test="deptCode != null and deptCode != ''">
                AND e.dept_code = #{deptCode}
            </if>
        </where>
        ORDER BY vh.start_date DESC
    </select>

    <select id="VacationCheck"
            parameterType="com.itwillbs.factron.dto.vacation.VacationRequestDTO"
            resultType="boolean">
    <![CDATA[
        SELECT CASE WHEN COUNT(*) > 0 THEN 1 ELSE 0 END
        FROM vacation_history vh
                 JOIN approval a ON vh.approval_id = a.id
        WHERE vh.employee_id = #{empId}
          AND a.approval_status_code != 'APV003'
        AND (
            (vh.start_date BETWEEN #{startTime}
          AND #{endTime})
           OR
            (vh.end_date BETWEEN #{startTime}
          AND #{endTime})
           OR
            (vh.start_date <= #{startTime}
          AND vh.end_date >= #{endTime})
            )
        ]]>
</select>


</mapper>
