<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/base.html}">
<head>
    <title>Factron</title>
</head>
<body>
<div layout:fragment="content">
    <section>
        <div class="header-row">
            <h4 class="page__name">품질검사 이력</h4>
        </div>

        <form class="search__form">
            <h5 class="page__name">작업지시 목록</h5>
            <div class="input-group">
                <div class="select__container">
                    <select class="form-select" name="workOrderStatusCode">
                        <option value="">작업 상태 유형</option>
                    </select>
                </div>
                <input class="form-control ms-2" type="text" name="srhItemIdOrName" placeholder="제품명 또는 제품번호">
                <input class="form-control ms-2" type="text" name="srhProductionPlanId" placeholder="생산 계획 번호">
                <input class="form-control ms-2" type="text" name="srhWorkOrderId" placeholder="작업지시 번호"><br/>
                <button class="btn btn-outline-secondary srhBtn" type="submit">검색</button>
            </div>
        </form>

        <!-- completed work order list grid -->
        <article>
            <div id="completed_work_order_grid">

            </div>
        </article>

        <div class="mt-4">
            <div class="header-row">
                <h5 class="page__name">지시 상세 품질검사</h5>
                <button class="btn btn-primary modBtn" name="addInspectionResult" type="button" sec:authorize="hasAnyAuthority('ATH003', 'ATH006', 'ATH007')">결과 저장</button>
            </div>
        </div>

        <!-- quality inspection history list grid -->
        <article>
            <div id="quality_inspection_history_grid">
            </div>
        </article>
    </section>
</div>

<th:block layout:fragment="javascript">
    <!-- js import -->
    <script th:src="@{/js/qualityhistory/quality_history.js}"></script>
</th:block>
</body>
</html>