<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itwillbs.factron.mapper.employee.EmployeeMapper">

    <!-- 테스트 목록 조회 -->
    <select id="com.itwillbs.factron.mapper.employee.EmployeeMapper.getEmployeeList" parameterType="com.itwillbs.factron.dto.employee.RequestEmployeeSrhDTO" resultType="com.itwillbs.factron.dto.employee.ResponseEmployeeSrhDTO">
        SELECT
            e.id AS empId,
            e.name AS empName,
            e.birth || '-' || e.rrn_back AS residentRegistrationNumber,
            e.gender,
            e.email,
            e.edu_level_code,
            edu.name AS eduLevelName,
            e.address,
            e.quit_date,
            e.position_code,
            pos.name AS positionName,
            i.is_active AS empIsActive,
            e.joined_date,
            e.employ_code,
            emp.name AS employeName,
            e.phone,
            e.dept_code,
            dept.name AS deptName
        FROM employee e
        LEFT JOIN intergrat_auth i ON  e.id = i.employee_id
        LEFT JOIN detail_sys_code edu ON e.edu_level_code = edu.detail_code
        LEFT JOIN detail_sys_code pos ON e.position_code = pos.detail_code
        LEFT JOIN detail_sys_code emp ON e.employ_code = emp.detail_code
        LEFT JOIN detail_sys_code dept ON e.dept_code = dept.detail_code
        <where>
            <if test="dept != null and dept != ''">
                AND dept_code LIKE '%' || #{dept} || '%'
            </if>
            <if test="position != null and position != ''">
                AND e.position_code = #{position}
            </if>
            <if test="empIsActive != null and empIsActive != ''">
                AND i.is_active = #{empIsActive}
            </if>
            <if test="nameOrId != null and nameOrId != ''">
                AND e.name = #{nameOrId} or e.id=#{nameOrId}
            </if>

        </where>
        ORDER BY e.id DESC
    </select>

</mapper>