<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base.html}">
<head>
    <title>vacation History Page</title>
    <th:block layout:fragment="style">
        <link rel="stylesheet" th:href="@{/css/vacation/vacation.css}" />
    </th:block>
</head>
<body>
<div layout:fragment="content">
    <section>
        <div class="vacation__header">
            <h4 class="wow">휴가 조회</h4>
            <button class="btn btn-info registVacation">휴가 신청</button>
        </div>
        <form class="vacation__form">
            <div class="vacation__date-inputs">
                <input class="form-control" type="date" name="startDate" id="startDate">
                <input class="form-control" type="date" name="endDate" id="endDate">
                <select class="form-select" name="srhDeptCode">
                    <option value="">전체</option>
                </select>
            </div>

            <div class="vacation__search-btn">
                <input class="form-control" type="text" name="srhIdOrName" placeholder="이름 또는 사번 입력">
                <button class="btn btn-outline-secondary srhBtn" type="button">검색</button>
            </div>
        </form>

        <article class="vacation__grid-container">
            <div id="grid"></div>
        </article>

    </section>
</div>

<th:block layout:fragment="javascript">
    <script th:src="@{/js/vacation/vacation.js}">
    </script>
</th:block>

</body>
</html>