<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/popup-base.html}">
<head>
    <title>Factron</title>
    <th:block layout:fragment="style">
        <link rel="stylesheet" th:href="@{/css/production/production.css}" />
    </th:block>
</head>
<body>
<div layout:fragment="content">
    <h2 class="mb-4">생산계획 등록</h2>
    <!-- form -->
    <form>
        <div class="row mb-3">
            <div class="col-md-6">
                <label class="form-label">생산 제품</label>
                <select name="item" class="form-select w-100">
                    <option value="">선택</option>
                </select>
            </div>
            <div class="col-md-6">
                <label class="form-label d-block">생산 수량</label>
                <div class="d-flex">
                    <input type="text" class="form-control text-end me-2" name="quantity">
                    <input type="text" class="form-control" name="unitName" readonly>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <label class="form-label">시작 날짜</label>
                <input type="date" name="startDate" class="form-control">
            </div>
            <div class="col-md-6">
                <label class="form-label">종료 날짜</label>
                <input type="date" name="endDate" class="form-control">
            </div>
        </div>

        <div class="d-flex justify-content-end mt-5 gap-2">
            <button type="button" class="btn btn-primary saveBtn">저장</button>
            <button type="button" class="btn btn-secondary">취소</button>
        </div>
    </form>

    <!-- confirm modal -->
    <div class="modal fade confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    생산계획을 저장하시겠습니까?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary confirmEditBtn">확인</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                </div>
            </div>
        </div>
    </div>

    <!-- alert modal -->
    <div class="modal fade alertModal" tabindex="-1" aria-labelledby="alertModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    저장이 완료되었습니다!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary alertBtn">확인</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- script 블록 -->
<th:block layout:fragment="javascript">
    <script th:src="@{/js/production/prdctPlan-form.js}"></script>
</th:block>

</body>
</html>
