<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base.html}">
<head>
    <title>commute_history page</title>
    <th:block layout:fragment="style">
        <link rel="stylesheet" th:href="@{/css/work/commute_history.css}" />
    </th:block>
</head>
<body>
<div layout:fragment="content">
    <section>
        <div class="commute-header-row">
            <h4 class="wow">출퇴근 관리</h4>

                <span class="commuteInBtn">
                    <button class="btn btn-warning cmInBtn" type="button">출근</button>
                </span>
                <span class="commuteOutBtn">
                    <button class="btn btn-warning cmOutBtn" type="button">퇴근</button>
                </span>
        </div>

        <form class="test__form">
            <div class="test__select__container">
                <input class="form-control" type="date" name="srhStrBirth">
                <div>~</div>
                <input class="form-control" type="date" name="srhEndBirth">
                <select class="form-select" name="srhDepartment">
                    <option value="">부서 선택</option>
                    <option value="DEP001">인사</option>
                    <option value="DEP002">영업</option>
                    <option value="DEP003">개발</option>
                    <option value="DEP004">재무</option>
                </select>
            </div>
            <div class="input-group mb-3">
                <input class="form-control" type="text" name="srhNameOrId" placeholder="이름 또는 사번 입력">
                <button class="btn btn-outline-secondary srhBtn" type="button">검색</button>
            </div>
        </form>
        <!-- list grid -->
        <article>
            <div id="commuteHistoryGrid">

            </div>
        </article>
    </section>
</div>

<th:block layout:fragment="javascript">
    <!-- js import -->
    <script th:src="@{/js/work/commute_history.js}"></script>
</th:block>
</body>
</html>