<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base.html}">
<head>
    <title>factron</title>
    <th:block layout:fragment="style">
        <link rel="stylesheet" th:href="@{/css/work/work.css}" />
    </th:block>
</head>
<body>
<div layout:fragment="content">
    <section>
        <div class="commute-header-row">
            <h4 class="wow">근무 현황</h4>
            <button class="btn btn-info registWork">근무 등록</button>
        </div>
        <form class="test__form">
            <div class="test__select__container">
                <input class="form-control" type="date" name="srhStrDate">
                ~
                <input class="form-control" type="date" name="srhEndDate"><br/>
                <select class="form-select" name="srhDeptCode">
                    <option value="">전체</option>
                </select>
                <select class="form-select" name="srhWorkCode">
                    <option value="">전체</option>
                </select>
            </div>
            <div class="input-group mb-3">
                <input class="form-control" type="text" name="srhIdOrName" placeholder="사번 또는 이름을 입력해주세요"><br/>
                <button class="btn btn-outline-secondary srhBtn" type="button">검색</button>
            </div>
        </form>
        <!-- list grid -->
        <article>
            <div id="workGrid">

            </div>
        </article>
    </section>
</div>

<th:block layout:fragment="javascript">
    <!-- js import -->
    <script th:src="@{/js/work/work.js}"></script>
</th:block>
</body>
</html>