.login__page {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login__container {
    width: 450px;
    height: 700px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    background-color: #ffffff;
    z-index: 100;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
}

.login__logo {
    width: 100%;
}

.login__input__group {
    padding-top: 5rem;
}
.login__input__group input {
    margin: 0.5rem 0;
    background-color: #f0f0f0;
    border: none;
    font-size: 0.9rem;
}

.btn[name = "login_button"] {
    width: 100%;
    background-color: #7D9BFF;
    border: none;
    margin-top: 2rem;
    font-size: 1.1rem;
}
.btn[name = "login_button"]:hover {
    background-color: #606E9C;
}

.hotkey__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 0.4rem;
}

.btn[name = "hotkey_default"] {
    width: 100%;
    border: none;
    font-size: 0.9rem;
}
.btn[name = "hotkey_admin"] {
    width: 100%;
    font-size: 0.9rem;
}

.login__background {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    filter: blur(5px);
}