<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base.html}">
<head>
    <title>사원 관리</title>
    <th:block layout:fragment="style">
        <link rel="stylesheet" th:href="@{/css/employee/employee.css}" />
    </th:block>
</head>
<body>
<div layout:fragment="content">
    <section>
        <div class="test__form">
            <h4 class="wow">사원 관리</h4>
            <button class="btn btn-primary modBtn" name="addNewEmp" type="button">사원 추가</button>
        </div>
        <form class="test__form" method="get">
            <div class="test__select__container">
                <div class="search__option__title">부서</div>
                <select class="form-select" name="deptCode">
                    <option value="">전체</option>
                    <option value="DPT001">인사</option>
                </select>
                <div class="search__option__title">직급</div>
                <select class="form-select" name="positionCode">
                    <option value="">전체</option>
                    <option value="EMP001">사원</option>
                </select>
                <div class="search__option__title">재직 상태</div>
                <select class="form-select" name="isActive">
                    <option value="">전체</option>
                    <option value="Y">재직</option>
                    <option value="N">퇴직</option>
                </select>
            </div>
            <div class="input-group mb-3">
                <input class="form-control" type="text" name="name" placeholder="이름 또는 사원번호"><br/>
                <button class="btn btn-outline-secondary empSrhBtn" type="button">검색</button>
            </div>
        </form>

        <!-- list grid -->
        <article>
            <div id="employee_grid">

            </div>
        </article>
    </section>
</div>

<th:block layout:fragment="javascript">
    <!-- js import -->
    <script th:src="@{/js/employee/employee.js}"></script>
</th:block>
</body>
</html>