<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base.html}">
<head>
    <title>Factron</title>
    <th:block layout:fragment="style">
        <link rel="stylesheet" th:href="@{/css/approval/approval.css}" />
    </th:block>
</head>
<body>
<div layout:fragment="content">
    <section>
        <h4 class="page__name">발주 목록</h4>
        <form class="search__form mb-2">
            <div class="select__container">
                <input class="form-control" type="date" name="startDate">
                ~
                <input class="form-control" type="date" name="endDate"><br/>
                <select class="form-select" name="STP">
                    <option value="">결재상태</option>
                </select>
            </div>

            <div class="input-group">
                <input class="form-control" type="text" name="srhName" placeholder="이름/사번/거래처"><br/>
                <button class="btn btn-outline-secondary srhBtn" type="button">검색</button>
            </div>
        </form>
        <article>
            <div id="purchaseGrid"></div>
        </article>
    </section>
</div>

<th:block layout:fragment="javascript">
    <script th:src="@{/js/purchase/purchase.js}"></script>
</th:block>
</body>
</html>
