.sidebar {
    width: 300px;
    padding-top: 70px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    transition: transform 0.3s ease;
    z-index: 1040;
    background-color: #fff;
}
.sidebar ul {
    padding: 20px 0;
}

.sidebar.hidden {
    transform: translateX(-300px);
}

.main-content {
    margin-top: 70px;
    margin-left: 300px;
    padding: 1rem;
    transition: margin-left 0.3s ease;
}

@media (max-width: 1200px) {
    .sidebar {
        transform: translateX(-300px);
    }

    .sidebar.active {
        transform: translateX(0);
    }

    .main-content {
        margin-left: 0;
    }

    .overlay.active {
        display: block;
    }
}
@media (max-width: 800px) {
    .navbar-text {
        display: none;
    }
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1050;
    height: 70px;
    padding: 0 20px;
    border-bottom: 1px solid lightgray;
}

.navbar .container-fluid {
    height: 100%;
    align-items: center;
}

.navbar-brand {
    font-size: 1.8rem;
    font-weight: bold;
    margin-left: 20px;
}

.submenu {
    display: none;
    padding-left: 2rem;
}

.nav-item.open > .submenu {
    display: block;
}
.menu-item {
    display: flex;
    flex-direction: row;
    padding: 5px 0;
    gap: 20px;
}

.nav-link {
    color: #000;
    transition: all 0.2s ease;
    border-radius: 10px;
}

.nav-link:hover {
    background-color: #f0f0f0;
}

.nav-link.active {
    color: #7D9BFF;
    font-weight: bold;
}
.nav-link.active span{
    color: #7D9BFF;
}

.submenu {
    display: none;
    padding: 0;
}

.nav-item.open > .submenu {
    display: block;
}

.submenu .nav-link {
    padding-left: 3rem;
}

.overlay {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 1030;
}

.user__name {
    font-weight: bold;
}

/* 상속할 속성값 */
.border__none {
    border: none;
}
.btn-primary {
    background-color: #606E9C;
    border: none;
}
.btn-primary:hover {
    background-color: #7D9BFF;
}
