@charset "UTF-8";

.test__form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.test__select__container {
    display: flex;
    flex-direction: row;
    gap: 15px;
    text-align: center;
}

.wow {
    padding: 10px;
    font-weight: 900;
    width: 200px;
}

.form-select {
    max-width: 200px;
}

.input-group{
    display: flex;
    max-width: 350px;
    align-items: center;
    margin-top: 14px;
}

/*.form-control {*/
/*    max-width: 300px;*/
/*}*/