<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Factron</title>
</head>
<body>
<div th:fragment="searchProcess" class="border rounded p-3 mt-5">
    <!-- TOAST UI import -->
    <script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
    <link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />

    <!-- form -->
    <h5 class="mb-3">공정 검색</h5>
    <div class="row g-2 align-items-center srhProcessForm">
        <div class="col-md-3">
            <select class="form-select" name="processTypeCode">
                <option value="">공정 유형</option>
            </select>
        </div>
        <div class="col-md-6">
            <input type="text" class="form-control" name="processIdOrName" placeholder="공정번호 또는 공정명">
        </div>

        <div class="col-md-2">
            <button type="button" class="btn btn-outline-secondary w-100 processSrhBtn">검색</button>
        </div>
    </div>

    <!-- grid -->
    <article class="mt-3">
        <div id="srhProcessGrid">

        </div>
    </article>

    <!-- js import -->
    <script th:src="@{/js/search-process.js}"></script>
</div>
</body>
</html>
