<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base.html}">
<head>
</head>
<body>
<div layout:fragment="content">
    <h4>검색</h4>
    <form>
        Text: <input type="text" name="srhName"><br/>
        Check: <input type="checkbox" name="srhChkType"><br/>
        Date: <input type="date" name="srhStrBirth">
        &nbsp;~&nbsp;
        <input type="date" name="srhEndBirth"><br/>
        Select: <select name="srhAddress">
        <option value="">전체</option>
        <option value="busan">부산</option>
        <option value="seoul">서울</option>
        <option value="gyeongnam">경남</option>
        <option value="gyeonggi">경기</option>
    </select><br/>
        <button type="button" class="searchBtn">검색</button>
    </form>
    <h1>List</h1>
    <!-- list grid -->
    <div id="grid"></div>
</div>

<th:block layout:fragment="javascript">
    <!-- js import -->
    <script th:src="@{/js/test.js}"></script>
</th:block>
</body>
</html>