<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itwillbs.factron.mapper.lot.LotMapper">
    <!-- 라인 목록 조회 -->
    <select id="getLotSequence" resultType="java.lang.Long" parameterType="java.util.Map">
        SELECT COUNT(*)
        FROM LOT_HISTORY lh
        WHERE lh.lod_id LIKE CONCAT(#{dateToday}, '-', #{eventType}, '-%')
    </select>

    <!-- material_id로 입고 LOT 목록 조회 -->
    <select id="getInboundLotById" resultType="com.itwillbs.factron.dto.lot.ResponseLotDTO" parameterType="com.itwillbs.factron.dto.lot.RequestLotUpdateDTO">
        SELECT id, material_id, quantity
        FROM LOT
        WHERE
            UPPER(material_id) = UPPER(#{material_id})
            AND
            UPPER(event_type) = "INB"
        ORDER BY created_at ASC
    </select>
</mapper>
