@charset "UTF-8";

.employee__menu__container {
    display: flex;
    flex-direction: row;
    padding: 20px 20px;
    justify-content: space-between;
    align-items: center;
}

.employee__search__option {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
    text-align: center;
    height:42.5px;
}

.search__option__title {
    white-space:nowrap;
    display: flex;
    align-items: center;
}

.wow {
    padding: 10px;
    font-weight: 900;
    width: 200px;
}

.form-select{
    width: 120px;
    max-width: 200px;
}

.input-group{
    display: flex;
    max-width: 300px;
    align-items: center;
}

.form-control {
    max-width: 300px;
}